<?xml version="1.0" encoding="utf-8" standalone="yes"?><urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>https://springfieldtn.gov/1/Home</loc>
    <lastmod>2024-07-15</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/27/GOVERNMENT</loc>
    <lastmod>2024-05-23</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/792/Comprehensive-Growth-Plan</loc>
    <lastmod>2024-07-02</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/779/Public-Comment-Period</loc>
    <lastmod>2024-03-18</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/217/Board-of-Mayor-Aldermen</loc>
    <lastmod>2024-06-18</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/648/Appointed-Officials</loc>
    <lastmod>2022-08-01</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/600/Municipal-City-Election-Information</loc>
    <lastmod>2022-08-01</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/766/Public-Comment</loc>
    <lastmod>2023-09-14</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/247/Boards-Commissions</loc>
    <lastmod>2024-05-23</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/159/Beer-Board</loc>
    <lastmod>2023-10-06</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/172/Board-of-Zoning-Appeals</loc>
    <lastmod>2024-03-18</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/173/Construction-Board-of-Adjustments-Appeal</loc>
    <lastmod>2024-02-08</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/174/Historic-Preservation-Commission</loc>
    <lastmod>2023-01-11</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/223/Library-Board-of-Directors</loc>
    <lastmod>2024-07-17</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/197/Parks-Recreation-Board</loc>
    <lastmod>2023-09-19</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/175/Planning-Commission</loc>
    <lastmod>2024-01-05</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/230/SpringfieldRobertson-County-Joint-Airpor</loc>
    <lastmod>2024-02-09</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/153/Departments</loc>
    <lastmod>2024-05-23</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/464/Administration</loc>
    <lastmod>2022-06-07</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/154/Animal-Control</loc>
    <lastmod>2024-03-14</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/155/Dogs-Cats</loc>
    <lastmod>2022-03-15</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/167/Cemeteries</loc>
    <lastmod>2021-05-07</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/241/Rates-Fees</loc>
    <lastmod>2021-05-06</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/614/Evening-at-Elmwood</loc>
    <lastmod>2022-06-07</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/156/City-Court</loc>
    <lastmod>2020-09-11</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/462/City-Department-Heads</loc>
    <lastmod>2024-04-17</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/157/City-Recorder-Finance</loc>
    <lastmod>2024-04-29</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/332/Audit-Reports</loc>
    <lastmod>2024-03-14</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/437/BidsRFQsRFPs</loc>
    <lastmod>2024-04-29</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/504/Budget</loc>
    <lastmod>2020-12-14</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/373/Business-License</loc>
    <lastmod>2023-08-04</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/371/Property-Taxes</loc>
    <lastmod>2024-05-01</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/528/Public-Records-Request</loc>
    <lastmod>2018-05-23</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/494/Surplus-Property</loc>
    <lastmod>2024-04-29</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/377/Apply-Discontinue-Service</loc>
    <lastmod>2019-09-26</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/244/Fees-Deposits-Penalties</loc>
    <lastmod>2019-09-26</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/426/Payment-Options</loc>
    <lastmod>2023-06-20</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/428/Due-Dates-Non-Payment-Consequences</loc>
    <lastmod>2020-08-05</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/435/Budget-Billing</loc>
    <lastmod>2020-08-05</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/169/Community-Development-Planning</loc>
    <lastmod>2023-01-10</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/737/Planning-Zoning</loc>
    <lastmod>2023-01-10</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/738/Project-Applications-Submittal-Informati</loc>
    <lastmod>2023-01-11</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/743/Permit-Surety-Guidelines</loc>
    <lastmod>2023-01-11</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/739/City-of-Springfield-Zoning-Ordinance</loc>
    <lastmod>2024-06-03</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/740/Subdivision-Regulations</loc>
    <lastmod>2023-02-03</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/744/Floodplain-Management</loc>
    <lastmod>2022-10-26</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/745/System-Development-Fees</loc>
    <lastmod>2023-01-11</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/746/Maps</loc>
    <lastmod>2023-03-02</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/749/Looking-Ahead</loc>
    <lastmod>2024-07-02</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/414/Building-Codes</loc>
    <lastmod>2024-02-02</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/416/Permitting</loc>
    <lastmod>2024-02-02</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/747/Do-I-need-a-Permit</loc>
    <lastmod>2024-02-09</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/748/Permits</loc>
    <lastmod>2022-11-22</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/732/Plan-Review</loc>
    <lastmod>2022-10-26</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/733/Request-Inspection</loc>
    <lastmod>2023-06-05</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/734/Submit-a-Complaint</loc>
    <lastmod>2023-06-05</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/735/LandlordTenants</loc>
    <lastmod>2022-10-26</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/736/ICC-Code-References</loc>
    <lastmod>2024-02-02</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/233/Subdivision-Regulations-PDF</loc>
    <lastmod>2023-02-03</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/234/Zoning-Ordinance-PDF</loc>
    <lastmod>2023-11-02</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/176/Electric</loc>
    <lastmod>2024-04-29</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/430/Customer-Service-Information</loc>
    <lastmod>2024-04-29</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/624/Electrical-Permits</loc>
    <lastmod>2024-04-29</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/344/Operations-Maintenance</loc>
    <lastmod>2024-04-29</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/343/Electric-Rates</loc>
    <lastmod>2022-08-25</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/177/Electrical-Safety-Information</loc>
    <lastmod>2020-08-05</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/345/Sources-of-Electricity</loc>
    <lastmod>2020-08-04</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/387/TVA-EnergyRight-Residential-Services</loc>
    <lastmod>2024-08-23</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/391/Community-Involvement</loc>
    <lastmod>2023-10-26</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/404/Public-Power-Information</loc>
    <lastmod>2020-08-05</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/790/Electric-Vehicle-Fast-Charging-Station</loc>
    <lastmod>2024-05-08</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/178/Engineering</loc>
    <lastmod>2024-03-12</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/179/Stormwater-Regulation</loc>
    <lastmod>2016-09-12</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/180/Fire</loc>
    <lastmod>2024-07-30</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/337/Annual-Reports</loc>
    <lastmod>2022-08-29</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/324/Burn-Permits</loc>
    <lastmod>2024-03-12</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/181/Education</loc>
    <lastmod>2024-03-12</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/183/Emergency-Management</loc>
    <lastmod>2024-06-20</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/394/Fire-Prevention</loc>
    <lastmod>2024-05-13</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/397/History</loc>
    <lastmod>2024-03-12</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/398/My-50-Years-in-the-Fire-Service</loc>
    <lastmod>2020-07-27</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/355/Operations</loc>
    <lastmod>2024-06-20</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/182/Rapid-Entry-Key-Lock-Box</loc>
    <lastmod>2024-03-12</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/184/Gas</loc>
    <lastmod>2024-04-29</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/186/Gas-Leak-Detection</loc>
    <lastmod>2024-04-29</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/356/Leak-Prevention</loc>
    <lastmod>2024-04-29</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/498/Leak-Survey</loc>
    <lastmod>2024-04-29</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/187/Safety-Training</loc>
    <lastmod>2024-04-29</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/333/Commercial</loc>
    <lastmod>2024-04-29</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/352/_811</loc>
    <lastmod>2024-04-29</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/378/Contractor-Surveys</loc>
    <lastmod>2021-12-14</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/334/Residential</loc>
    <lastmod>2021-12-14</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/353/_811</loc>
    <lastmod>2015-01-15</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/379/Resident-Survey</loc>
    <lastmod>2021-12-07</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/335/Training</loc>
    <lastmod>2020-08-05</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/330/Customer-Information</loc>
    <lastmod>2024-04-29</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/365/Customer-Responsibility</loc>
    <lastmod>2015-01-15</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/455/Billing-101</loc>
    <lastmod>2024-04-29</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/511/EVF-Notification</loc>
    <lastmod>2018-02-15</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/513/Customer-Fuel-Lines</loc>
    <lastmod>2018-02-16</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/329/Contractor-Information</loc>
    <lastmod>2024-04-29</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/348/Gas-Codes</loc>
    <lastmod>2020-08-05</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/242/Gas-Rates-Fees-Main-Extensions</loc>
    <lastmod>2024-03-12</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/720/Public-Awareness</loc>
    <lastmod>2024-04-29</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/189/Human-Resources</loc>
    <lastmod>2024-08-16</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/190/Employment-Benefits</loc>
    <lastmod>2022-07-25</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/319/Equal-Opportunity-Employer</loc>
    <lastmod>2020-08-06</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/553/Employee-Resources</loc>
    <lastmod>2023-08-25</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/725/Employee-Health-Clinic</loc>
    <lastmod>2022-07-25</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/658/Information-Technology</loc>
    <lastmod>2020-10-20</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/660/Guest-Wifi-Policy</loc>
    <lastmod>2024-08-12</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/195/Parks-Recreation</loc>
    <lastmod>2024-05-13</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/636/Parks</loc>
    <lastmod>2024-05-13</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/198/Rules-Regulations</loc>
    <lastmod>2023-09-06</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/716/Parks-and-Recreation-Master-Plan</loc>
    <lastmod>2023-10-26</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/191/Police</loc>
    <lastmod>2024-07-30</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/193/Burglar-Fire-Alarms</loc>
    <lastmod>2024-03-14</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/421/Crime-Statistics</loc>
    <lastmod>2024-04-29</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/407/Criminal-Investigations</loc>
    <lastmod>2024-04-29</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/458/Emergency-Preparedness</loc>
    <lastmod>2020-08-11</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/360/Field-Operations</loc>
    <lastmod>2020-08-11</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/420/Field-Training-Program</loc>
    <lastmod>2024-04-29</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/406/SPEAR</loc>
    <lastmod>2024-03-12</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/400/Records-Division-City-Court</loc>
    <lastmod>2020-08-05</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/459/Resources</loc>
    <lastmod>2024-04-29</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/349/Public-Works</loc>
    <lastmod>2022-04-27</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/200/Public-Works-Sanitation</loc>
    <lastmod>2023-12-22</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/205/Hazardous-Waste</loc>
    <lastmod>2020-08-05</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/385/Sanitation-Holiday</loc>
    <lastmod>2023-12-20</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/393/Autumn-Leaf-Collection</loc>
    <lastmod>2023-10-30</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/206/Brush-Collection</loc>
    <lastmod>2020-08-05</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/204/Junk-Collection</loc>
    <lastmod>2023-09-18</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/409/What-Cannot-Be-Collected</loc>
    <lastmod>2023-09-18</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/453/Allowable-Junk-Items</loc>
    <lastmod>2023-09-18</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/454/Report-a-Concern-or-Service-Request</loc>
    <lastmod>2018-06-05</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/392/Commercial-Sanitation</loc>
    <lastmod>2020-08-05</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/207/Trash-Cart-Collection</loc>
    <lastmod>2020-08-05</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/535/Recycling</loc>
    <lastmod>2021-06-22</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/338/Public-Works-Storm-Water-Management</loc>
    <lastmod>2024-07-30</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/350/Storm-Water-Quality-Management-Practices</loc>
    <lastmod>2024-07-30</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/351/Storm-Water-Management-Ordinance</loc>
    <lastmod>2024-07-30</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/380/Storm-Water-User-Fees</loc>
    <lastmod>2024-07-30</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/381/Storm-Water-Pollution</loc>
    <lastmod>2024-07-30</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/425/Report-a-Concern-or-Request-Service</loc>
    <lastmod>2024-04-29</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/431/Public-Works-Department</loc>
    <lastmod>2020-08-05</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/427/NPDES-Phase-II</loc>
    <lastmod>2024-04-29</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/442/Storm-Water-FAQs</loc>
    <lastmod>2024-04-29</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/547/Storm-Water-Permits-Forms-and-Check-List</loc>
    <lastmod>2024-04-29</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/203/Public-Works-Street-Department</loc>
    <lastmod>2022-01-21</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/370/Excavation-of-City-Streets</loc>
    <lastmod>2018-10-22</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/327/Report-a-Concern-or-Request-Service</loc>
    <lastmod>2018-10-22</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/440/Driveway-Permits</loc>
    <lastmod>2023-07-31</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/202/Public-Works-Vehicle-Maintenance</loc>
    <lastmod>2020-08-05</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/374/Identification-of-City-Vehicles</loc>
    <lastmod>2020-08-05</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/375/Used-Oil-Collection-Center</loc>
    <lastmod>2020-08-05</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/697/Adopt-a-Street-Program</loc>
    <lastmod>2021-04-08</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/698/Springfield-Community-Cleanup</loc>
    <lastmod>2024-03-12</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/728/Community-Art-Projects</loc>
    <lastmod>2024-04-09</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/210/Water-Wastewater</loc>
    <lastmod>2023-04-14</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/212/Damages</loc>
    <lastmod>2015-01-13</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/401/Helpful-Tips</loc>
    <lastmod>2024-03-14</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/213/Sewer-Cleaning</loc>
    <lastmod>2015-01-28</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/216/Sewer-Prohibitions-Limitations</loc>
    <lastmod>2015-01-13</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/423/Standards-Specifications</loc>
    <lastmod>2023-12-08</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/211/Tap-Fees</loc>
    <lastmod>2023-12-08</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/240/Water-Wastewater-Rates</loc>
    <lastmod>2023-01-05</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/215/Water-Wastewater-Service-Lines</loc>
    <lastmod>2015-01-28</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/214/Water-Wastewater-Treatment-Plants</loc>
    <lastmod>2024-07-30</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/791/Lead-and-Copper-Rule</loc>
    <lastmod>2024-05-20</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/228/Springfield-Municipal-Code</loc>
    <lastmod>2024-05-23</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/662/Employee-Intranet</loc>
    <lastmod>2024-07-26</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/706/Public-Notices</loc>
    <lastmod>2024-06-04</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/101/SERVICES</loc>
    <lastmod>2024-05-23</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/322/Maps</loc>
    <lastmod>2024-05-23</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/364/Online-Payments</loc>
    <lastmod>2024-05-23</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/566/Public-Safety</loc>
    <lastmod>2024-05-23</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/302/Public-Works</loc>
    <lastmod>2024-05-23</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/306/Utilities</loc>
    <lastmod>2024-05-23</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/388/Utility-Billing</loc>
    <lastmod>2024-05-23</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/377/Apply-Discontinue-Service</loc>
    <lastmod>2019-09-26</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/244/Fees-Deposits-Penalties</loc>
    <lastmod>2019-09-26</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/426/Payment-Options</loc>
    <lastmod>2023-06-20</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/428/Due-Dates-Non-Payment-Consequences</loc>
    <lastmod>2020-08-05</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/435/Budget-Billing</loc>
    <lastmod>2020-08-05</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/35/BUSINESS</loc>
    <lastmod>2024-05-23</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/318/Licenses-Permits</loc>
    <lastmod>2024-05-23</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/165/Alcoholic-Beverage-Permit</loc>
    <lastmod>2023-06-30</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/164/Beer-Permit</loc>
    <lastmod>2023-10-06</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/710/HotelMotel-Permit-Tax</loc>
    <lastmod>2021-10-27</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/543/Mobile-Food-Service-Vehicle-Permit</loc>
    <lastmod>2023-06-30</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/162/Parade-Special-Event-Permit</loc>
    <lastmod>2023-06-30</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/163/Roadblock-Permit</loc>
    <lastmod>2023-06-30</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/160/Solicitor-Permit</loc>
    <lastmod>2023-06-30</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/721/Alerts-Notifications</loc>
    <lastmod>2024-05-23</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/487/Economic-Development</loc>
    <lastmod>2024-05-23</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/488/The-City-Site-Plan-Approval-Process</loc>
    <lastmod>2023-10-26</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/489/Related-Issues-Pertaining-to-Submitted-P</loc>
    <lastmod>2023-10-26</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/490/Major-Industries-in-Springfield</loc>
    <lastmod>2023-10-26</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/656/Industrial-Development-Board</loc>
    <lastmod>2023-11-20</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/570/Work-With-Us</loc>
    <lastmod>2020-07-01</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/696/City-OwnedSurplus-Real-Estate</loc>
    <lastmod>2021-04-30</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/541/Properties-Acquired-via-Tax-Sale</loc>
    <lastmod>2024-07-12</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/695/Other-Surplus</loc>
    <lastmod>2021-08-18</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/785/Community</loc>
    <lastmod>2024-05-23</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/574/Newsroom</loc>
    <lastmod>2024-05-23</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/586/e-Newsletters</loc>
    <lastmod>2024-05-23</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/235/About</loc>
    <lastmod>2024-05-23</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/199/Events</loc>
    <lastmod>2024-05-23</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/699/Free-Movie-Fridays</loc>
    <lastmod>2024-06-04</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/707/State-of-the-City</loc>
    <lastmod>2024-06-05</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/703/1st-Fridays</loc>
    <lastmod>2024-06-24</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/700/Youth-Fishing-Rodeo</loc>
    <lastmod>2024-08-12</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/701/Freedom-Fest</loc>
    <lastmod>2024-08-20</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/702/Winter-Wonderland</loc>
    <lastmod>2024-05-23</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/712/Special-Needs-Fishing-Rodeo</loc>
    <lastmod>2024-05-23</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/753/Horse-Drawn-Carriage-Rides</loc>
    <lastmod>2024-05-23</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/772/Springfield-Christmas-Parade</loc>
    <lastmod>2024-05-23</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/778/Experience-The-Holiday-Season-In-Springf</loc>
    <lastmod>2024-05-23</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/797/Trick-or-Treat-on-the-Square</loc>
    <lastmod>2024-08-28</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/752/Films-Shot-in-Springfield</loc>
    <lastmod>2024-05-23</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/573/Connect</loc>
    <lastmod>2024-05-23</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/587/Social-Media</loc>
    <lastmod>2024-05-23</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/588/Springfield-TV</loc>
    <lastmod>2024-05-23</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/589/Holiday-Closures</loc>
    <lastmod>2024-05-23</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/682/Discounts</loc>
    <lastmod>2020-10-28</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/751/Employee-Benefits</loc>
    <lastmod>2022-11-15</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/686/Employee-Training</loc>
    <lastmod>2020-10-28</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/691/Job-Postings</loc>
    <lastmod>2024-08-15</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/689/Phone-System-Training</loc>
    <lastmod>2020-10-28</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/Activities</loc>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/AgendaCenter</loc>
    <lastmod>2024-08-29</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/Facilities</loc>
    <lastmod>2024-06-11</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FormCenter</loc>
    <lastmod>2024-08-05</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/DocumentCenter</loc>
    <lastmod>2024-08-13</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/CommunityVoice</loc>
    <lastmod>2021-10-18</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/CivicAlerts.aspx</loc>
    <lastmod>2024-08-29</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/Calendar.aspx</loc>
    <lastmod>2024-08-24</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/AlertCenter.aspx</loc>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/Directory.aspx</loc>
    <lastmod>2024-08-14</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/BusinessDirectoryii.aspx</loc>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/Archive.aspx</loc>
    <lastmod>2020-08-25</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx</loc>
    <lastmod>2024-03-14</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=63</loc>
    <lastmod>2015-01-20</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=64</loc>
    <lastmod>2023-07-17</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=65</loc>
    <lastmod>2015-01-20</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=68</loc>
    <lastmod>2014-12-04</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=69</loc>
    <lastmod>2014-12-04</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=70</loc>
    <lastmod>2023-09-14</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=71</loc>
    <lastmod>2014-12-04</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=72</loc>
    <lastmod>2014-12-04</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=73</loc>
    <lastmod>2014-12-04</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=74</loc>
    <lastmod>2014-12-04</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=75</loc>
    <lastmod>2014-12-04</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=76</loc>
    <lastmod>2014-12-04</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=77</loc>
    <lastmod>2022-03-15</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=78</loc>
    <lastmod>2015-01-13</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=79</loc>
    <lastmod>2020-07-13</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=80</loc>
    <lastmod>2015-01-13</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=81</loc>
    <lastmod>2015-01-13</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=82</loc>
    <lastmod>2024-03-12</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=83</loc>
    <lastmod>2015-01-13</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=84</loc>
    <lastmod>2024-03-12</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=106</loc>
    <lastmod>2015-01-20</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=121</loc>
    <lastmod>2020-08-07</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=123</loc>
    <lastmod>2021-11-05</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=124</loc>
    <lastmod>2020-08-07</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=126</loc>
    <lastmod>2015-01-23</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=127</loc>
    <lastmod>2023-10-26</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=128</loc>
    <lastmod>2023-10-26</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=130</loc>
    <lastmod>2023-10-26</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=153</loc>
    <lastmod>2015-02-08</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=97</loc>
    <lastmod>2015-01-14</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=150</loc>
    <lastmod>2015-01-28</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=151</loc>
    <lastmod>2015-01-28</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=152</loc>
    <lastmod>2015-01-28</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=90</loc>
    <lastmod>2020-08-04</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=93</loc>
    <lastmod>2023-07-17</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=94</loc>
    <lastmod>2020-08-04</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=105</loc>
    <lastmod>2024-03-14</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=109</loc>
    <lastmod>2020-08-04</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=116</loc>
    <lastmod>2020-08-04</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=131</loc>
    <lastmod>2024-03-14</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=132</loc>
    <lastmod>2020-08-04</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=133</loc>
    <lastmod>2020-08-04</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=175</loc>
    <lastmod>2020-08-04</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=88</loc>
    <lastmod>2015-01-13</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=101</loc>
    <lastmod>2015-01-14</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=149</loc>
    <lastmod>2015-01-28</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=155</loc>
    <lastmod>2015-02-18</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=98</loc>
    <lastmod>2015-01-14</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=99</loc>
    <lastmod>2015-01-14</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=100</loc>
    <lastmod>2015-01-14</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=102</loc>
    <lastmod>2015-01-14</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=103</loc>
    <lastmod>2015-01-14</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=167</loc>
    <lastmod>2015-12-09</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=168</loc>
    <lastmod>2015-12-09</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=169</loc>
    <lastmod>2017-07-28</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=110</loc>
    <lastmod>2015-01-21</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=111</loc>
    <lastmod>2022-12-14</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=115</loc>
    <lastmod>2020-08-11</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=117</loc>
    <lastmod>2015-01-21</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=118</loc>
    <lastmod>2023-10-04</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=119</loc>
    <lastmod>2023-10-04</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=134</loc>
    <lastmod>2015-02-04</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=135</loc>
    <lastmod>2015-02-04</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=147</loc>
    <lastmod>2015-02-04</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=148</loc>
    <lastmod>2015-02-04</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=154</loc>
    <lastmod>2015-02-04</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=136</loc>
    <lastmod>2015-01-28</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=137</loc>
    <lastmod>2015-01-28</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=138</loc>
    <lastmod>2015-01-28</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=139</loc>
    <lastmod>2015-01-28</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=140</loc>
    <lastmod>2015-01-28</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=141</loc>
    <lastmod>2015-01-28</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=144</loc>
    <lastmod>2015-01-28</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=107</loc>
    <lastmod>2015-01-20</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=108</loc>
    <lastmod>2015-01-20</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=156</loc>
    <lastmod>2024-03-12</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=157</loc>
    <lastmod>2015-03-11</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=158</loc>
    <lastmod>2015-03-11</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=159</loc>
    <lastmod>2015-03-11</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=160</loc>
    <lastmod>2015-03-11</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=161</loc>
    <lastmod>2015-03-31</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=162</loc>
    <lastmod>2015-03-11</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=163</loc>
    <lastmod>2015-03-11</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=164</loc>
    <lastmod>2015-03-11</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=165</loc>
    <lastmod>2015-03-11</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/FAQ.aspx?QID=166</loc>
    <lastmod>2015-03-11</lastmod>
  </url>
  <url>
    <loc>https://springfieldtn.gov/Jobs.aspx</loc>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/Gallery.aspx</loc>
    <lastmod>2023-12-21</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/RealEstate.aspx</loc>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/Bids.aspx</loc>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/Blog.aspx</loc>
    <lastmod>2023-10-26</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/list.aspx</loc>
    <lastmod>2023-12-04</lastmod>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>https://springfieldtn.gov/Forms.aspx</loc>
    <changefreq>weekly</changefreq>
  </url>
</urlset>