<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>https://springervilleaz.gov/contractor-how-to</loc>
    <lastmod>2024-03-06T10:41:58+00:00</lastmod>
    <changefreq>daily</changefreq>
    <priority>0</priority>
  </url>
  <url>
    <loc>https://springervilleaz.gov/resident-how-to</loc>
    <lastmod>2024-03-06T10:40:55+00:00</lastmod>
    <changefreq>daily</changefreq>
    <priority>0</priority>
  </url>
  <url>
    <loc>https://springervilleaz.gov/privacypolicy</loc>
    <lastmod>2024-03-07T10:04:20+00:00</lastmod>
    <changefreq>daily</changefreq>
    <priority>0</priority>
  </url>
  <url>
    <loc>https://springervilleaz.gov/termsofuse</loc>
    <lastmod>2024-02-23T06:34:04+00:00</lastmod>
    <changefreq>daily</changefreq>
    <priority>0</priority>
  </url>
  <url>
    <loc>https://springervilleaz.gov/</loc>
    <lastmod>2024-03-08T14:29:39+00:00</lastmod>
    <changefreq>daily</changefreq>
    <priority>0</priority>
  </url>
  <url>
    <loc>https://springervilleaz.gov/AdvancedForms/Contact-Us</loc>
    <lastmod>2024-08-08T07:46:43+00:00</lastmod>
    <changefreq>daily</changefreq>
    <priority>0</priority>
  </url>
  <url>
    <loc>https://springervilleaz.gov/AdvancedForms/Proposed-Agenda-Request</loc>
    <lastmod>2024-04-11T19:08:11+00:00</lastmod>
    <changefreq>daily</changefreq>
    <priority>0</priority>
  </url>
  <url>
    <loc>https://springervilleaz.gov/AdvancedForms/Employment-Application</loc>
    <lastmod>2024-04-02T21:30:41+00:00</lastmod>
    <changefreq>daily</changefreq>
    <priority>0</priority>
  </url>
  <url>
    <loc>https://springervilleaz.gov/AdvancedForms/Combination-Payment</loc>
    <lastmod>2024-03-07T10:42:45+00:00</lastmod>
    <changefreq>daily</changefreq>
    <priority>0</priority>
  </url>
  <url>
    <loc>https://springervilleaz.gov/casamalpais</loc>
    <lastmod>2024-03-20T17:41:08+00:00</lastmod>
    <changefreq>daily</changefreq>
    <priority>0</priority>
  </url>
  <url>
    <loc>https://springervilleaz.gov/theheritagecentercasamalpais</loc>
    <lastmod>2024-08-08T22:57:38+00:00</lastmod>
    <changefreq>daily</changefreq>
    <priority>0</priority>
  </url>
  <url>
    <loc>https://springervilleaz.gov/communityservices</loc>
    <lastmod>2024-05-23T20:54:41+00:00</lastmod>
    <changefreq>daily</changefreq>
    <priority>0</priority>
  </url>
  <url>
    <loc>https://springervilleaz.gov/townadministration</loc>
    <lastmod>2024-06-20T21:37:51+00:00</lastmod>
    <changefreq>daily</changefreq>
    <priority>0</priority>
  </url>
  <url>
    <loc>https://springervilleaz.gov/policedepartment</loc>
    <lastmod>2024-04-02T17:21:57+00:00</lastmod>
    <changefreq>daily</changefreq>
    <priority>0</priority>
  </url>
  <url>
    <loc>https://springervilleaz.gov/publicworks</loc>
    <lastmod>2024-08-06T15:14:47+00:00</lastmod>
    <changefreq>daily</changefreq>
    <priority>0</priority>
  </url>
  <url>
    <loc>https://springervilleaz.gov/planningandzoningdepartment</loc>
    <lastmod>2024-03-07T09:53:21+00:00</lastmod>
    <changefreq>daily</changefreq>
    <priority>0</priority>
  </url>
  <url>
    <loc>https://springervilleaz.gov/economicdevelopment</loc>
    <lastmod>2024-03-19T22:10:23+00:00</lastmod>
    <changefreq>daily</changefreq>
    <priority>0</priority>
  </url>
  <url>
    <loc>https://springervilleaz.gov/springervillemunicipalairport</loc>
    <lastmod>2024-06-21T19:24:43+00:00</lastmod>
    <changefreq>daily</changefreq>
    <priority>0</priority>
  </url>
  <url>
    <loc>https://springervilleaz.gov/towncouncil</loc>
    <lastmod>2024-06-10T21:56:52+00:00</lastmod>
    <changefreq>daily</changefreq>
    <priority>0</priority>
  </url>
  <url>
    <loc>https://springervilleaz.gov/employmentopportunities</loc>
    <lastmod>2024-08-29T15:55:44+00:00</lastmod>
    <changefreq>daily</changefreq>
    <priority>0</priority>
  </url>
  <url>
    <loc>https://springervilleaz.gov/community</loc>
    <lastmod>2024-03-11T14:56:55+00:00</lastmod>
    <changefreq>daily</changefreq>
    <priority>0</priority>
  </url>
  <url>
    <loc>https://springervilleaz.gov/finance</loc>
    <lastmod>2024-07-30T14:55:30+00:00</lastmod>
    <changefreq>daily</changefreq>
    <priority>0</priority>
  </url>
  <url>
    <loc>https://springervilleaz.gov/planning-and-zoning-commission</loc>
    <lastmod>2024-02-27T23:52:05+00:00</lastmod>
    <changefreq>daily</changefreq>
    <priority>0</priority>
  </url>
  <url>
    <loc>https://springervilleaz.gov/tourism-tax-committee</loc>
    <lastmod>2024-02-22T07:39:44+00:00</lastmod>
    <changefreq>daily</changefreq>
    <priority>0</priority>
  </url>
  <url>
    <loc>https://springervilleaz.gov/public-safety-personnel-retirement-system-board</loc>
    <lastmod>2024-02-22T07:40:10+00:00</lastmod>
    <changefreq>daily</changefreq>
    <priority>0</priority>
  </url>
  <url>
    <loc>https://springervilleaz.gov/building-department</loc>
    <lastmod>2024-02-28T21:05:50+00:00</lastmod>
    <changefreq>daily</changefreq>
    <priority>0</priority>
  </url>
  <url>
    <loc>https://springervilleaz.gov/forms-documents</loc>
    <lastmod>2024-02-16T20:55:59+00:00</lastmod>
    <changefreq>daily</changefreq>
    <priority>0</priority>
  </url>
  <url>
    <loc>https://springervilleaz.gov/socialmedia</loc>
    <lastmod>2024-02-22T10:30:17+00:00</lastmod>
    <changefreq>daily</changefreq>
    <priority>0</priority>
  </url>
  <url>
    <loc>https://springervilleaz.gov/municipal-property-corporation</loc>
    <lastmod>2024-02-28T15:06:25+00:00</lastmod>
    <changefreq>daily</changefreq>
    <priority>0</priority>
  </url>
  <url>
    <loc>https://springervilleaz.gov/departments</loc>
    <lastmod>2024-02-28T15:05:16+00:00</lastmod>
    <changefreq>daily</changefreq>
    <priority>0</priority>
  </url>
  <url>
    <loc>https://springervilleaz.gov/alerts</loc>
    <lastmod>2024-02-23T06:32:38+00:00</lastmod>
    <changefreq>daily</changefreq>
    <priority>0</priority>
  </url>
  <url>
    <loc>https://springervilleaz.gov/water-wastewater</loc>
    <lastmod>2024-06-27T18:08:07+00:00</lastmod>
    <changefreq>daily</changefreq>
    <priority>0</priority>
  </url>
  <url>
    <loc>https://springervilleaz.gov/boards-committees</loc>
    <lastmod>2024-02-22T15:28:45+00:00</lastmod>
    <changefreq>daily</changefreq>
    <priority>0</priority>
  </url>
  <url>
    <loc>https://springervilleaz.gov/recreation</loc>
    <lastmod>2024-03-06T08:09:10+00:00</lastmod>
    <changefreq>daily</changefreq>
    <priority>0</priority>
  </url>
  <url>
    <loc>https://springervilleaz.gov/AdvancedForms/Report-a-Concern</loc>
    <lastmod>2024-03-07T10:39:31+00:00</lastmod>
    <changefreq>daily</changefreq>
    <priority>0</priority>
  </url>
  <url>
    <loc>https://springervilleaz.gov/report-a-concern</loc>
    <lastmod>2024-03-07T07:52:18+00:00</lastmod>
    <changefreq>daily</changefreq>
    <priority>0</priority>
  </url>
  <url>
    <loc>https://springervilleaz.gov/contact-us</loc>
    <lastmod>2024-03-11T07:31:27+00:00</lastmod>
    <changefreq>daily</changefreq>
    <priority>0</priority>
  </url>
  <url>
    <loc>https://springervilleaz.gov/faq</loc>
    <lastmod>2024-03-06T07:48:17+00:00</lastmod>
    <changefreq>daily</changefreq>
    <priority>0.5</priority>
  </url>
  <url>
    <loc>https://springervilleaz.gov/downloadableForms</loc>
    <lastmod>2024-03-06T07:48:29+00:00</lastmod>
    <changefreq>daily</changefreq>
    <priority>0.5</priority>
  </url>
  <url>
    <loc>https://springervilleaz.gov/alerts</loc>
    <lastmod>2024-03-06T07:49:02+00:00</lastmod>
    <changefreq>daily</changefreq>
    <priority>0.5</priority>
  </url>
  <url>
    <loc>https://springervilleaz.gov/staff-directory</loc>
    <lastmod>2024-03-07T10:17:30+00:00</lastmod>
    <changefreq>daily</changefreq>
    <priority>0.5</priority>
  </url>
  <url>
    <loc>https://springervilleaz.gov/departmentdirectory</loc>
    <lastmod>2024-03-07T10:17:51+00:00</lastmod>
    <changefreq>daily</changefreq>
    <priority>0.5</priority>
  </url>
  <url>
    <loc>https://springervilleaz.gov/agendas</loc>
    <lastmod>2024-03-07T10:18:23+00:00</lastmod>
    <changefreq>daily</changefreq>
    <priority>0.5</priority>
  </url>
</urlset>